/* Comment */ 

#link{
	padding: 30px;
	background-image: url("header.jpg");
	background-size: cover;
}

.segment{
	background-color: #fff;
	padding: 15px;
	margin-bottom: 10px;
	border-radius: 10px;
}

body {
	background-color: #ccf2ff;
	font-family: "Georgia", serif;
	text-align: center;
}

h4 {
	color: black;
	background-color: white; 
	text-align: center;
	border-style: double;
}

ul{
	display: table;
	margin: 0 auto;
	text-align: left;
}

a{
	font-size: large;
	color: black;
}

.institution{
font-weight: bold;
color: black;
}

.double{
	border-style: double;
}

.list
{
	text-align: left;

}

img{
	height: 600px;
	width: 50%;
	border: 3px solid white;
	border-radius: 15%;

}

h2 {
	font-family: "Georgia", serif;
	text-align: center;
} 








